<section class="General">
    <div class="Gen1">
        <div class="Card">
            <h1>Sumario de articulos</h1>
            <div class="horizontal_tit">
                <p>Articulo</p>
                <p>Precio</p>
                <p>Cantidad</p>
                <p>Total</p>
            </div>
        </div>
        <div class="Card_product">
            <table>
                <tr>
            
                <tr *ngFor="let dato of products">
                    <td>{{dato.Nombre}}</td>
                    
                    <td>{{dato.Precio}}</td>
                    <td><button mat-button (click)="aumentar()" color="primary">-</button>
                        <p>Cantidad actual: {{ cantidad }}</p>
                        <button mat-button color="primary">+</button></td>
                    <td>  <p>$8.50</p></td>
                </tr>
              </table> 
            </div>
          
        </div>
   
    <div class="Gen2">
        <div class="Card">
            <h1>Datos del cliente</h1>          
            <mat-form-field class="example-full-width">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre" value={{authenticatedUser.name}}>
            </mat-form-field>
            <div class="horizontal">
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" value={{authenticatedUser.email}}>
                </mat-form-field>
            </div>
            <div class="horizontal">
                <mat-form-field class="example-full-width">
                    <mat-label>Número de tarjeta</mat-label>
                    <input matInput placeholder="Número" value=" ">
                </mat-form-field>
            </div>
            <div class="horizontal">
                <mat-form-field class="example-full-width">
                    <mat-label>expiracion</mat-label>
                    <input matInput placeholder="Caducidad" value=" ">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>CVV</mat-label>
                    <input matInput placeholder="Digito" value=" ">
                </mat-form-field>
            </div>
        </div>
        <div class="Card">
            <h1>Resumen del pedido</h1>
            <div>
                <div>
                    <p>subtotal</p>
                </div>
                <div>
                    $8.50
                </div>
            </div>
            <button mat-raised-button color="primary">Pagar Ahora</button>
        </div>
    </div>
</section>