<section class="General">
    <div class="Gen1">
        <h2 mat-dialog-title>Carrito de compras</h2>
        <mat-dialog-content class="mat-typography">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <caption style="margin: 20px;">Lista de productos</caption>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef> Precio </th>
                    <td mat-cell *matCellDef="let element"> {{ element.price | currency }} </td>
                </ng-container>

                <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                    <td mat-cell *matCellDef="let element"> {{ element.canti }} 
                        <button (click)="aumentar(element.code)" mat-button>+</button>
                        <button (click)="disminuir(element.code)" mat-button>-</button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef> Total </th>
                    <td mat-cell *matCellDef="let element"> {{ (element.price * element.canti) | currency }} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <h2 style="margin-top: 15px; text-align: end;"></h2>
        </mat-dialog-content>
    </div>

    <div class="Gen2">
        <div class="Card">
            <h1>Datos del cliente</h1>
            <mat-form-field class="example-full-width">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre" value={{authenticatedUser.name}}>
            </mat-form-field>
            <div class="horizontal">
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" value={{authenticatedUser.email}}>
                </mat-form-field>
            </div>
            <div class="horizontal">
                <mat-form-field class="example-full-width">
                    <mat-label>Número de tarjeta</mat-label>
                    <input matInput placeholder="Número" value=" ">
                </mat-form-field>
            </div>
            <div class="horizontal">
                <mat-form-field class="example-full-width">
                    <mat-label>expiracion</mat-label>
                    <input matInput placeholder="Caducidad" value=" ">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>CVV</mat-label>
                    <input matInput placeholder="Digito" value=" ">
                </mat-form-field>
            </div>
        </div>
        <div class="Card">
            <h1>Resumen del pedido</h1>
            <div>
                <div>
                    <p>subtotal</p>
                </div>
                <div>
                    {{ sumaTotal() | currency }}
                </div>
            </div>
            <button mat-raised-button color="primary" (click)="realizarCompra()">Pagar Ahora</button>
        </div>
    </div>
</section>