.flex-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
}

.title-container {
    margin-top: 2em;
    margin-bottom: 1em;
    border-radius: 0.5em;
    background-color: #96d5e6;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.title-content {
    font-size: xx-large;
    font-weight: bolder;
}

.table-settings {
    width: 80%;
}

.label-rol-admin {
    background-color: red;
    padding: 0.5em;
    border-radius: 1em;
    font-size: small;
    color: white;
    font-weight: bolder;
}

.label-rol-client {
    background-color: grey;
    padding: 0.5em;
    border-radius: 1em;
    font-size: small;
    color: white;
    font-weight: bolder;
}

.table-responsive .mat-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  display: table;
  border-collapse: collapse;
  margin: 0px;
}


.table-responsive .mat-row,
.mat-header-row {
  display: table-row;
}

.table-responsive .mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 5px;
  line-break: unset;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.buttons-margin {
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.button-modify {
    background-color: #11C994;
    padding: 0.5em;
    border-radius: 1em;
    font-size: small;
    color: black;
    font-weight: bolder;
    cursor: pointer;
}

.button-delete {
    background-color: #D1275B;
    padding: 0.5em;
    border-radius: 1em;
    font-size: small;
    color: black;
    font-weight: bolder;
    cursor: pointer;
}

.svg-form {
    width: 1em;
}

.comboBox {
    background-color: #cbecf5;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 250px;
    border-radius: 0.5em;
    margin-bottom: 1.5em;
}