<div class="grid">
    <div class="grid-container">
        <!-- <div class="card" routerLink="#">
            <img src={{icon_profile}} alt="Avatar" style="width:15%">
            <div class="container">
                <h4><b>Cuenta</b></h4>
                <p>Visualizar los datos de la cuenta registrada.</p>
            </div>
        </div> -->
        <div class="card" routerLink="/adm-users">
            <img src={{icon_profile}} alt="Avatar" style="width:15%">
            <div class="container">
                <h4><b>Administración de Usuarios</b></h4>
                <p>Administra los usuarios registrados en la plataforma.</p>
            </div>
        </div>
        <div class="card" routerLink="/adm-productos/view">
            <img src={{icon_products}} alt="Avatar" style="width:15%">
            <div class="container">
                <h4><b>Administración de Productos</b></h4>
                <p>Administra los productos registrados en la plataforma.</p>
            </div>
        </div>
<!--         <div class="card" routerLink="#">
            <img src={{icon_sale}} alt="Avatar" style="width:15%">
            <div class="container">
                <h4><b>Ventas</b></h4>
                <p>Visualiza todas las ventas realizadas en el sitio web.</p>
            </div>
        </div> -->
        <div class="card" (click)="logout()">
            <img src={{icon_log_out}} alt="Avatar" style="width:15%">
            <div class="container">
                <h4><b>Cerrar sesión</b></h4>
                <p>Cierra sesión en la plataforma de manera segura.</p>
            </div>
        </div>
    </div>
</div>