<mat-card>
    <mat-card-content>
        <form #loginForm="ngForm">
            <div class="title">
                <h2>👤</h2>
                <h2>I N I C I A R</h2>
                <h2>S E S I Ó N</h2>
            </div>
            <mat-form-field>
                <input matInput placeholder="Email" name="username" required>
                <mat-error>
                    Please provide a valid email address
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Password" name="password" required>
                <mat-error>
                    Please provide a valid password
                </mat-error>
            </mat-form-field>
            <!-- <mat-error>
                The username and password were not recognized
            </mat-error> -->
            <button mat-raised-button color="primary">Login</button>
        </form>
    </mat-card-content>
</mat-card>