<mat-card>
    <div class="form-title">
        <mat-card-title class="form-title-style">Modificar Usuario</mat-card-title>
    </div>
    <form [formGroup]="formModify" class="form-struct">
        <mat-form-field class="campos-field">
            <input matInput placeholder="Cedula" formControlName="idUser">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Nombres" formControlName="name">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Apellidos" formControlName="lastname">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Correo Electrónico" formControlName="email">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Contraseña" formControlName="password">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Rol</mat-label>
            <select formControlName="rol" matNativeControl required>
                <option value="Client">Cliente</option>
                <option value="Administrator">Administrador</option>
            </select>
        </mat-form-field>

        <div class="button-struct">
            <button mat-raised-button color="primary" [disabled]="!formModify.valid"
                (click)="onSubmit()">Aceptar</button>
            <button mat-raised-button color="accent" (click)="cancel()">Cancelar</button>
        </div>
    </form>
</mat-card>