<mat-card>
    <div>
        <mat-card-title>Modificar Usuario</mat-card-title>
    </div>
    <form [formGroup]="userModify">
        <mat-form-field class="campos-field">
            <input matInput placeholder="Cedula" formControlName="idUser">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Nombres" formControlName="name">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Apellidos" formControlName="lastname">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Correo Electrónico" formControlName="email">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Contraseña" formControlName="password">
        </mat-form-field>

        <button mat-raised-button [disabled]="!userModify.valid" (click)="onSubmit()">Aceptar</button>
        <button mat-raised-button color="accent" (click)="cancel()">Cancelar</button>
    </form>
</mat-card>