<mat-card>
    <div>
        <mat-card-title>Modificar Usuario</mat-card-title>
    </div>
    <form [formGroup]="userModify">
        <mat-form-field class="campos-field">
            <input matInput placeholder="Cedula" formControlName="cedula">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Nombres" formControlName="nombres">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Apellidos" formControlName="apellidos">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Direccion" formControlName="direccion">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Edad" formControlName="edad">
        </mat-form-field>

        <button mat-raised-button [disabled]="!userModify.valid" (click)="onSubmit()">Aceptar</button>
        <button mat-raised-button color="accent" (click)="cancel()">Cancelar</button>
    </form>
</mat-card>