<div class="parent">
    <div *ngFor="let product of allProducts">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>{{ product.Nombre }}</mat-card-title>
            </mat-card-header>
            <div class="productImage">
                <img mat-card-image [src]="product.Imagen || defaultImagePath" height="200px"
                    width="200px" alt="Product">
            </div>
            <mat-card-content>
                <p>{{ product.Precio | currency }}</p>
            </mat-card-content>
            <mat-card-actions>
                <a (click)="addToCart(product)" class="btn"><button mat-button>Agregar</button></a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>