<div class="grid">
    <div class="grid-container">
        <div class="card" routerLink="#">
            <img src={{icon_profile}} alt="Avatar" style="width:15%">
            <div class="container">
                <h4><b>Cuenta</b></h4>
                <p>Visualizar los datos de la cuenta registrada.</p>
            </div>
        </div>
        <div class="card" routerLink="/edit-user">
            <img src={{icon_update}} alt="Avatar" style="width:15%">
            <div class="container">
                <h4><b>Configuración de cuenta</b></h4>
                <p>Administra tus datos registrados en caso de ser necesario.</p>
            </div>
        </div>
        <div class="card" routerLink="#">
            <img src={{icon_sale}} alt="Avatar" style="width:15%">
            <div class="container">
                <h4><b>Compras</b></h4>
                <p>Visualiza tus compras realizadas en nuestro sitio web.</p>
            </div>
        </div>
        <div class="card" routerLink="/">
            <img src={{icon_log_out}} alt="Avatar" style="width:15%">
            <div class="container">
                <h4><b>Cerrar sesión</b></h4>
                <p>Cierra sesión en la plataforma de manera segura.</p>
            </div>
        </div>
    </div>
</div>