<div class="grid">
    <div class="grid-container">
        <div class="card">
            <img src={{icon_profile}} alt="Avatar" style="width:15%">
            <div class="container">
                <h4><b><a href="#">Cuenta</a></b></h4>
                <p>Visualizar los datos de la cuenta registrada.</p>
            </div>
        </div>
        <div class="card">
            <img src={{icon_update}} alt="Avatar" style="width:15%">
            <div class="container">
                <h4><b><a routerLink="/edit-user">Configuración de cuenta</a></b></h4>
                <p>Administra tus datos registrados en caso de ser necesario.</p>
            </div>
        </div>
        <div class="card">
            <img src={{icon_sale}} alt="Avatar" style="width:15%">
            <div class="container">
                <h4><b><a href="#">Compras</a></b></h4>
                <p>Visualiza tus compras realizadas en nuestro sitio web.</p>
            </div>
        </div>
        <div class="card">
            <img src={{icon_log_out}} alt="Avatar" style="width:15%">
            <div class="container">
                <h4><b><a href="#">Cerrar sesión</a></b></h4>
                <p>Cierra sesión en la plataforma de manera segura.</p>
            </div>
        </div>
    </div>
</div>