<header class="header display">
    <div class="logo">
        <img src="../../../assets/logo.png" alt="brand-logo">
    </div>
    <nav>
        <ul class="nav-links">
            <li><a routerLink="/">Menú</a></li>
            <li *ngIf="!this.authService.userIsLogged()"><a routerLink="/register">Registrate</a></li>
            <li *ngIf="this.authService.userIsLogged()"><a routerLink="/account">Mi cuenta</a></li>
            <li *ngIf="this.authService.userIsLogged() && this.authService.userIsAdmin()"><a
                    routerLink="/adm-panel">Administración</a></li>
        </ul>
    </nav>
    <a class="btn" routerLink="/carshop" (click)="openDialog()"><button>Carrito 🛒</button></a>
    <a class="btn-logout" *ngIf="this.authService.userIsLogged()"><button (click)="logout()">Cerrar sesión</button></a>
</header>