<header class="header display">
    <div class="logo">
        <img src="../../../assets/logo.png" alt="brand-logo">
    </div>
    <nav>
        <ul class="nav-links">
            <li><a href="#">Menú</a></li>
            <li><a routerLink="/register">Registrate</a></li>
            <li><a routerLink="/account">Mi cuenta</a></li>
            <li><a routerLink="/adm-users">Administración</a></li>
        </ul>
    </nav>
    <a routerLink="/carrito" class="btn"><button>Carrito 🛒</button></a>
</header>