

.header {
    background-color: #1b3039;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo {
    margin-right: auto;
    cursor: pointer;
}

.header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(0.8);
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
    transition: all 0.2s;
}

.header .nav-links li:hover {
    transform: scale(0.9);
}

.header .nav-links a {
    font-size: 700;
    color: #eceff1;
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: #ffbc0e
}

.header .btn button {
    margin-left: 20px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover {
    background-color: #eceff1;
    color: #ffbc0e;
    transform: scale(1.1);
}

@media(max-width:1270px){
    .display{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .nav-links{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

@media(max-width:1024px){
    .header{
        height: 10em;
    }

    .display{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .nav-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1em;
    }

    .nav-links li a{
        margin: 1em;
    }
}

